/* CSS for UI elements (a.k.a. chrome) */

html {
    scrollbar-color: transparent !important;
    scrollbar-width: none !important;
}

#searchresults a,
.content a:link,
a:visited,
a > .hljs {
    color: var(--links);
}

/*
    body-container is necessary because mobile browsers don't seem to like
    overflow-x on the body tag when there is a <meta name="viewport"> tag.
*/
#body-container {
    /*
        This is used when the sidebar pushes the body content off the side of
        the screen on small screens. Without it, dragging on mobile Safari
        will want to reposition the viewport in a weird way.
    */
    overflow-x: clip;
}

/* Menu Bar */

#menu-bar,
#menu-bar-hover-placeholder {
    z-index: 101;
    margin: auto calc(0px - var(--page-padding));
}

#menu-bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: #00000000;
    border: none;
    border-radius: 0px;
}

#menu-bar.sticky,
#menu-bar-hover-placeholder:hover + #menu-bar,
#menu-bar:hover,
html.sidebar-visible #menu-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0 !important;
}

#menu-bar-hover-placeholder {
    display: none;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: var(--menu-bar-height);
}

#menu-bar.bordered {
    border-block-end-color: var(--table-border-color);
}

@media only screen and (max-width: 420px) {
    #menu-bar i,
    #menu-bar .icon-button {
        padding: 0 5px;
    }
}

.icon-button {
    border: none;
    background: none;
    padding: 0;
    color: inherit;
}

.icon-button i {
    margin: 0;
}

.right-buttons {
    margin: 0 15px;
}

.right-buttons a {
    text-decoration: none;
}

.left-buttons {
    display: flex;
    margin: 0 5px;
}

html:not(.js) .left-buttons button {
    display: none;
}

.menu-title {
    font-family: "Arsenal SC", "Symbols Nerd Font";
    display: inline-block;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: var(--menu-bar-height);
    text-align: center;
    margin: 0;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-title {
    cursor: var(--pen);
}

.menu-bar,
.menu-bar:visited,
.nav-chapters,
.nav-chapters:visited,
.mobile-nav-chapters,
.mobile-nav-chapters:visited,
.menu-bar .icon-button,
.menu-bar a i {
    color: var(--icons);
}

.menu-bar i:hover,
.menu-bar .icon-button:hover,
.nav-chapters:hover,
.mobile-nav-chapters i:hover {
    color: var(--icons-hover);
}

/* Nav Icons */

.nav-chapters {
    font-size: 2em;
    padding-left: 5px;
    text-align: center;
    text-decoration: none;
    cursor: var(--pen);
    position: fixed;
    height: 30px;
    top: 50%;
    bottom: 0;
    margin: 0;
    max-width: 30px;
    /* min-width: 90px; */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    transition: color 0.5s ease;
}

.nav-chapters:hover {
    text-decoration: none;
    background-color: transparent;
    transition: color 0.5s ease;
}

.nav-wrapper {
    margin-block-start: 50px;
    display: none;
}

.mobile-nav-chapters {
    font-size: 2.5em;
    text-align: center;
    text-decoration: none;
    width: 90px;
    border-radius: 5px;
    background-color: var(--sidebar-bg);
}

/* Only Firefox supports flow-relative values */
.previous {
    float: left;
}

[dir="rtl"] .previous {
    float: right;
}

/* Only Firefox supports flow-relative values */
.next {
    float: right;
    right: var(--page-padding);
}

[dir="rtl"] .next {
    float: left;
    right: unset;
    left: var(--page-padding);
}

/* Use the correct buttons for RTL layouts*/
[dir="rtl"] .previous i.fa-angle-left:before {
    content: "\f105";
}

[dir="rtl"] .next i.fa-angle-right:before {
    content: "\f104";
}

@media only screen and (max-width: 1080px) {
    .nav-wide-wrapper {
        display: none;
    }

    .nav-wrapper {
        display: block;
    }
}

/* sidebar-visible */
@media only screen and (max-width: 1380px) {
    #sidebar-toggle-anchor:checked ~ .page-wrapper .nav-wide-wrapper {
        display: none;
    }

    #sidebar-toggle-anchor:checked ~ .page-wrapper .nav-wrapper {
        display: block;
    }
}

/* Inline code */

:not(pre) > .hljs {
    display: inline;
    padding: 0.1em 0.3em;
    border-radius: 3px;
}

:not(pre):not(a) > .hljs {
    color: #fdf8ef;
    overflow-x: initial;
    font-size: 0.9em;
    background: #0d2229dd;
}

a:hover > .hljs {
    text-decoration: none;
}

pre {
    position: relative;
    cursor: var(--pen);
    min-width: 50%;
}

code.hljs {
    cursor: var(--pen);
}

pre > code {
    border-radius: 13px;
    border: none;
}

button #clipButton {
    padding: 0.5em;
}

pre > .buttons {
    display: inline-flex;
    justify-content: center;
    position: absolute;
    z-index: 100;
    right: 0px;
    top: 0px;
    margin: 2px;
    padding: 2px 2px;
    color: var(--sidebar-fg);
    cursor: var(--pen);
    visibility: visible;
    opacity: 0.15;
    transition:
        visibility 0.1s ease-in-out,
        opacity 0.8s ease-in-out;
}

pre:hover > .buttons {
    visibility: visible;
    opacity: 1;
}

pre > .buttons :hover {
    color: var(--sidebar-active);
    border-color: transparent;
    background-color: transparent;
}

pre > .buttons i {
    margin-inline-start: 8px;
}

pre > .buttons button {
    cursor: var(--pen);
    margin: 0px 5px;
    font-size: 17px;

    border-style: none;
    border-width: 0px;
    border-radius: 7px;
    border-color: var(--icons);
    background-color: transparent;
    transition: 25ms;
    transition-property: color, border-color, background-color;
    color: var(--icons);
}

pre > .buttons button.clip-button::before {
    /* clipboard image from octicons (https://github.com/primer/octicons/tree/v2.0.0) MIT license */
    /* content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOSIgaGVpZ2h0PSIyOSIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSJub25lIiBzdHJva2U9IiNhOGE4YTgiIHN0cm9rZS13aWR0aD0iMC42Ij48cGF0aCBkPSJNMTQgN2MwLS45MzIgMC0xLjM5OC0uMTUyLTEuNzY1YTIgMiAwIDAgMC0xLjA4My0xLjA4M0MxMi4zOTggNCAxMS45MzIgNCAxMSA0SDhjLTEuODg2IDAtMi44MjggMC0zLjQxNC41ODZTNCA2LjExNCA0IDh2M2MwIC45MzIgMCAxLjM5OC4xNTIgMS43NjVhMiAyIDAgMCAwIDEuMDgzIDEuMDgzQzUuNjAyIDE0IDYuMDY4IDE0IDcgMTQiLz48cmVjdCB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHg9IjEwIiB5PSIxMCIgcng9IjIiLz48L2c+PC9zdmc+"); */
    /* filter: var(--copy-button-filter); */
    transition: all 500ms ease;
    scale: 1;
    opacity: 0.5;
}

pre > .buttons button.clip-button:hover::before {
    /* filter: var(--copy-button-filter-hover); */
    opacity: 1;
}

@media (pointer: var(--pen)) {
    pre > .buttons button {
        /* On mobile, make it easier to tap buttons. */
        padding: 0.1rem 1rem;
    }

    .sidebar-resize-indicator {
        /* Hide resize indicator on devices with limited accuracy */
        display: none;
    }
}

pre > code {
    display: block;
    padding: 1.7rem;
    padding-right: 3.5em;
    font-size: 0.8em;
    font-weight: 450;
    text-wrap: auto;
}

/* FIXME: ACE editors overlap their buttons because ACE does absolute
   positioning within the code block which breaks padding. The only solution I
   can think of is to move the padding to the outer pre tag (or insert a div
   wrapper), but that would require fixing a whole bunch of CSS rules.
*/
.hljs.ace_editor {
    padding: 0rem 0rem;
}

pre > .result {
    margin-block-start: 10px;
}

pre > code.hljs {
    color: #fef8ef;
}

/* Search */

#searchresults {
    text-decoration: none;
}

mark {
    color: #000000;
    font-weight: 600;
    border-radius: 5px;
    padding-block-start: 0;
    padding-block-end: 1px;
    padding-inline-start: 4px;
    padding-inline-end: 4px;
    margin-block-start: 0;
    margin-block-end: -1px;
    margin-inline-start: -3px;
    margin-inline-end: -3px;
    background-color: #ffe40035;
    transition: background-color 300ms linear;
    cursor: var(--pen);
    color: #bbbbbb;
}

mark.fade-out {
    background-color: rgba(0, 0, 0, 0) !important;
    cursor: var(--pen);
}

.searchbar-outer {
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: var(--content-max-width);
}

#searchbar {
    width: 100%;
    margin-block-start: 5px;
    margin-block-end: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding: 10px 16px;
    transition: box-shadow 300ms ease-in-out;
    border: 1px solid var(--searchbar-border-color);
    border-radius: 3px;
    background-color: var(--searchbar-bg);
    color: var(--searchbar-fg);
}

#searchbar:focus,
#searchbar.active {
    box-shadow: 0 0 3px var(--searchbar-shadow-color);
}

.searchresults-header {
    font-weight: bold;
    font-size: 1em;
    padding-block-start: 18px;
    padding-block-end: 0;
    padding-inline-start: 5px;
    padding-inline-end: 0;
    color: var(--searchresults-header-fg);
}

.searchresults-outer {
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: var(--content-max-width);
    border-block-end: 1px dashed var(--searchresults-border-color);
}

ul#searchresults {
    list-style: none;
    padding-inline-start: 20px;
}

ul#searchresults li {
    margin: 10px 0px;
    padding: 2px;
    border-radius: 2px;
}

ul#searchresults li.focus {
    background-color: var(--searchresults-li-bg);
}

ul#searchresults span.teaser {
    display: block;
    clear: both;
    margin-block-start: 5px;
    margin-block-end: 0;
    margin-inline-start: 20px;
    margin-inline-end: 0;
    font-size: 0.8em;
}

ul#searchresults span.teaser em {
    font-weight: bold;
    font-style: normal;
}

/* Sidebar */

.sidebar {
    position: fixed;
    left: 0;
    top: 0px;
    bottom: 0;
    width: var(--sidebar-width);
    font-size: 0.8em;
    font-family: "Arsenal SC", "Symbols Nerd Font", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    overscroll-behavior-y: contain;
    background: #121212;
    color: var(--sidebar-fg);
    scrollbar-width: none !important;
}

.sidebar-iframe-inner {
    --padding: 10px;
    background-color: var(--sidebar-bg);
    padding: var(--padding);
    margin: 0;
    font-size: 1.3rem;
    color: var(--sidebar-fg);
    min-height: calc(100vh - var(--padding) * 2);
}

.sidebar-iframe-outer {
    border: none;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

[dir="rtl"] .sidebar {
    left: unset;
    right: 0;
}

.sidebar-resizing {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html:not(.sidebar-resizing) .sidebar {
    transition: transform 0.4s ease-out;
    /* Animation: slide away */
}

.sidebar code {
    line-height: inherit;
}

.sidebar .sidebar-scrollbox {
    overflow-y: auto;
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 1em 1em;
    cursor: var(--pen);
}
/* FADE EFFECT ON SCROLLED CONTENT AT DIV EDGES */
.sidebar-scrollbox {
    mask: linear-gradient(to bottom, transparent 0%, black 20px, black calc(100%-20px), transparent 10%);
    -webkit-mask: linear-gradient(to bottom, transparent 0%, black 20px, black calc(100% - 20px), transparent 100%);
}

.sidebar .sidebar-resize-handle {
    position: absolute;
    cursor: grab;
    width: 0;
    right: calc(var(--sidebar-resize-indicator-width) * -1);
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.sidebar-resize-handle .sidebar-resize-indicator {
    width: 100%;
    height: 12px;
    background-color: inherit;
    margin-inline-start: var(--sidebar-resize-indicator-space);
}

[dir="rtl"] .sidebar .sidebar-resize-handle {
    left: calc(var(--sidebar-resize-indicator-width) * -1);
    right: unset;
}

.js .sidebar .sidebar-resize-handle {
    cursor: grabbing;
    width: calc(var(--sidebar-resize-indicator-width) - var(--sidebar-resize-indicator-space));
}

#sidebar-toggle {
    position: relative;
    z-index: 10;
    font-size: 1.3em;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
    border-radius: 7px;
    transition: all 250ms ease;
}
#sidebar-toggle:hover {
    color: #ffffff50;
}

#sidebar-toggle:active {
    color: #f2863dcc;
    transition: all 50ms ease;
}

#sblogo {
    width: 64px;
    justify-self: center;
    padding-left: 6em;
    padding-bottom: 1em;
    fill: #050505bb;
}

#sblogo > svg {
    width: 48px;
    height: 48px;
    box-shadow: 3px 3px 3px 3px #00000040;
}

#menu-bar > div.right-buttons {
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-size: 1.2em;
}

/* sidebar-hidden */
#sidebar-toggle-anchor:not(:checked) ~ .sidebar {
    transform: translateX(calc(0px - var(--sidebar-width) - var(--sidebar-resize-indicator-width)));
    z-index: -1;
}

[dir="rtl"] #sidebar-toggle-anchor:not(:checked) ~ .sidebar {
    transform: translateX(calc(var(--sidebar-width) + var(--sidebar-resize-indicator-width)));
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar::-webkit-scrollbar-thumb {
    display: none;
}

/* sidebar-visible */
#sidebar-toggle-anchor:checked ~ .page-wrapper {
    transform: translateX(calc(var(--sidebar-width) + var(--sidebar-resize-indicator-width)));
}

[dir="rtl"] #sidebar-toggle-anchor:checked ~ .page-wrapper {
    transform: translateX(calc(0px - var(--sidebar-width) - var(--sidebar-resize-indicator-width)));
}

@media only screen and (min-width: 620px) {
    #sidebar-toggle-anchor:checked ~ .page-wrapper {
        transform: none;
        margin-inline-start: calc(var(--sidebar-width));
    }

    [dir="rtl"] #sidebar-toggle-anchor:checked ~ .page-wrapper {
        transform: none;
    }
}

.chapter {
    list-style: none outside none;
    padding-inline-start: 5px;
    line-height: 2.2em;
}

.chapter ol {
    width: 100%;
}

.chapter li {
    display: flex;
    color: var(--sidebar-non-existent);
}

.chapter li a {
    display: block;
    padding: 0;
    text-decoration: none;
    color: var(--sidebar-fg);
    cursor: var(--pen);
}

.chapter li a:hover {
    color: var(--sidebar-active);
    cursor: var(--pen);
}

.chapter li a.active {
    color: var(--sidebar-active);
}

.chapter li > a.toggle {
    cursor: var(--pen);
    display: block;
    margin-inline-start: auto;
    padding: 0 10px;
    user-select: none;
    opacity: 0.68;
    margin-right: 1em;
}

.chapter li > a.toggle div {
    transition: transform 0.5s;
}

/* collapse the section */
.chapter li:not(.expanded) + li > ol {
    display: none;
}

.chapter li.chapter-item {
    line-height: 1.5em;
    margin-block-start: 0.6em;
}

.chapter li.expanded > a.toggle div {
    transform: rotate(90deg);
}
.chapter-item {
    font-family: "Author", "Symbols Nerd Font", sans-serif;
    font-weight: 310;
    font-size: 1.2em;
    margin-left: 1em;
    transition: all 125ms ease;
}
.chapter-item:hover {
    transform: translate(0.5em, 0);
}

.spacer {
    width: 100%;
    height: 2px;
    margin: 10px 0px;
}

.spacer {
    width: calc(var(--sidebar-width) * 0.75);
}

.chapter .spacer {
    background-color: var(--sidebar-spacer);
}

@media (-moz-touch-enabled: 1), (pointer: coarse) {
    .chapter li a {
        padding: 5px 0;
    }

    .spacer {
        margin: 10px 0;
    }
}

.section {
    list-style: none outside none;
    padding-inline-start: 20px;
    line-height: 1.9em;
}

/* Theme Menu Popup */

.theme-popup {
    position: absolute;
    left: 10px;
    top: var(--menu-bar-height);
    z-index: 1000;
    border-radius: 4px;
    font-size: 0.7em;
    color: var(--fg);
    background: var(--theme-popup-bg);
    border: 1px solid var(--theme-popup-border);
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    /* Don't let the children's background extend past the rounded corners. */
    overflow: hidden;
}

[dir="rtl"] .theme-popup {
    left: unset;
    right: 10px;
}

.theme-popup .default {
    color: var(--icons);
}

.theme-popup .theme {
    display: inline-flex;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 2px 20px;
    line-height: 25px;
    white-space: nowrap;
    text-align: start;
    cursor: var(--pen);
    color: inherit;
    background: inherit;
    font-size: inherit;
}

.theme-popup .theme:hover {
    background-color: var(--theme-hover);
}

.theme-selected::before {
    display: inline-block;
    content: "※";
    margin-inline-start: -14px;
    width: 14px;
}
