/* Custom Grid.js styling for MDBook */
table {
    border-spacing: 0px;
    cursor: var(--pen);
}

.gridjs-wrapper {
    margin: 1em 0;
    font-family: inherit;
    font-size: 0.85em !important;
}

.gridjs-table {
    border: 0px solid var(--table-header-bg);
    border-radius: 23px;
}

.gridjs-th {
    background-color: #0d1117;
    color: var(--fg);
    font-weight: 300;
    font-style: italic;
    border: 2px 
}

.gridjs-td {
    color: var(--fg);
    border-bottom: 0px solid var(--table-header-bg);
}

.gridjs-search {
    margin-bottom: 0px;
    width: 180px;
    float: left;
}
.gridjs-search input {
    background: #09090a50;
    border: 0px solid var(--searchbar-border-color);
    color: #ccc;
    border-radius: 23px;
    padding: 5px 9px;
    width: 150px;
    max-width: 95%;
}

input.gridjs-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #00000000;
    border: 0px solid #d2d6dc;
    border-radius: 13px;
    font-family: var(--sans-font);
    font-size: 13px;
    line-height: 1.2;
    outline: none;
    padding: 7px 10px
}

input.gridjs-input:focus {
    border-color: #9bc2f700;
    box-shadow: 0 0 0 3px rgba(149,189,243,0)
}

.gridjs-pagination {
    margin-top: 5px;
}
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
.gridjs-footer button,
.gridjs-head button {
    background-color: transparent;
    background-image: none;
    border: none;
    cursor: var(--pen);
    margin: 0;
    outline: none;
    padding: 0
}

.gridjs-temp {
    position: relative
}

.gridjs-head {
    margin-bottom: 5px;
    padding: 5px 1px;
    width: 100%
}

.gridjs-head:after {
    clear: both;
    content: "";
    display: block
}

.gridjs-head:empty {
    border: none;
    padding: 0
}

.gridjs-container {
    color: #d2d6dc;
    display: inline-block;
    overflow: hidden;
    padding: 2px;
    position: relative;
    z-index: 0
}

.gridjs-footer {
    background-color: #05001d00;
    border-bottom-width: 1px;
    border-color: #e5e7eb00;
    border-radius: 8px;
    border-top: 0px solid #e5e7eb;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.26);
    display: block;
    padding: 6px 18px;
    position: relative;
    width: 100%;
    z-index: 5
}

.gridjs-footer:empty {
    border: none;
    padding: 0
}

.gridjs-pagination {
    color: #3d4044
}

.gridjs-pagination:after {
    clear: both;
    content: "";
    display: block
}

.gridjs-pagination .gridjs-summary {
    float: left;
    margin-top: 5px
}

.gridjs-pagination .gridjs-pages {
    float: right
}

.gridjs-pagination .gridjs-pages button {
    background-color: #0d1117;
    border-right: none;
    outline: none;
    padding: 5px 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: all 200ms ease
}

.gridjs-pagination .gridjs-pages button:focus {
    border-right: 0px solid #d2d6dc00;
    box-shadow: 0 0 0 2px rgba(149,189,243,.5);
    margin-right: -1px;
    position: relative;
    transition: all 200ms ease;
}

.gridjs-pagination .gridjs-pages button:hover {
    background-color: #202a3890;
    color: #e7ba72;
    outline: none;
    transition: all 200ms ease;
}

.gridjs-pagination .gridjs-pages button:disabled,.gridjs-pagination .gridjs-pages button:hover:disabled,.gridjs-pagination .gridjs-pages button[disabled] {
    background-color: #0d111700;
    color: #6b7280;
    cursor: var(--pen);
}

.gridjs-pagination .gridjs-pages button.gridjs-spread {
    background-color: #0d111790;
    box-shadow: none;
    cursor: var(--pen);
}
/* CURRENT PAGE */
.gridjs-pagination .gridjs-pages button.gridjs-currentPage {
    background-color: #e7ba72cc;
    color: #0d1117;
    font-weight: 700
}

.gridjs-pagination .gridjs-pages button:last-child {
    border-bottom-right-radius: 6px;
    border-right: 0px solid #d2d6dc;
    border-top-right-radius: 6px
}

.gridjs-pagination .gridjs-pages button:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px
}

.gridjs-pagination .gridjs-pages button:last-child:focus {
    margin-right: 0
}

button.gridjs-sort {
    display: inline;
    background-color: transparent;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: var(--pen);
    float: right;
    height: 17px;
    margin: 0em;
    outline: none;
    padding: 0em;
    width: 17px;
    transition: all 250ms ease;
    vertical-align: middle;
}

button.gridjs-sort-neutral {
    background-image: none;
    background-position-y: center;
    opacity: .3
}

button.gridjs-sort-asc {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KCTxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2RhZGFkYSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjAuNyIgZD0iTTMgNmgxOE02IDEyaDEybS05IDZoNiIgLz4KPC9zdmc+");
    background-position-y: 35%;
    background-size: 10px
}

button.gridjs-sort-desc {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KCTxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2RhZGFkYSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjAuNyIgZD0iTTMgNmgxOE02IDEyaDEybS05IDZoNiIgLz4KPC9zdmc+");
    transform: rotate(180deg);
    background-position-y: 65%;
    background-size: 10px
}

button.gridjs-sort:focus {
    outline: none
}

table.gridjs-table {
    border-collapse: collapse;
    display: table;
    margin: 0;
    max-width: 100%;
    overflow: auto;
    padding: 0;
    table-layout: fixed;
    text-align: left;
    width: 100%
}

tr:nth-child(2n) {
    background-color: #0d111760;
}

td.gridjs-td {
    line-height: 1.2;
    max-height: 2.4em;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 0px solid #09090a;
    box-sizing: content-box;
    padding: 7px 10px
}

td.gridjs-td:first-child {
    border-left: none
}

td.gridjs-td:last-child {
    border-right: none
}

td.gridjs-message {
    text-align: center
}

th.gridjs-th {
    background: #0d1117;
    border: 1px solid var(--table-border-color);
    border-top: none;
    box-sizing: border-box;
    color: #6b7280;
    outline: none;
    padding: 7px 10px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap
}

th.gridjs-th .gridjs-th-content {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-height: 1.4em;
}

th.gridjs-th-sort {
    cursor: var(--pen);
    transition: all 200ms ease
}

th.gridjs-th-sort .gridjs-th-content {
    width: calc(100% - 15px)
}

th.gridjs-th-sort:focus,th.gridjs-th-sort:hover {
    background-color: #242f40aa
}

th.gridjs-th-fixed {
    box-shadow: 0 1px 0 0 #e5e7eb;
    position: sticky;
}

@supports (-moz-appearance: none) {
    th.gridjs-th-fixed {
        box-shadow:0 0 0 1px #e5e7eb;
    }
}

th.gridjs-th:first-child {
    border-left: none;
}

th.gridjs-th:last-child {
    border-right: none;
}

.gridjs-tr {
    border: none;
    vertical-align: middle;
    min-height: 2.4em;
    max-height: 2.4em;
    overflow: hidden;
}

.gridjs-tr:last-child td {
    border-bottom: 0;
}

.gridjs *,.gridjs :after,.gridjs :before {
    box-sizing: border-box;
}

.gridjs-wrapper {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-color: #e5e7eb00;
    border-radius: 23px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.26);
    display: block;
    overflow: auto;
    position: relative;
    width: 100%;
    z-index: 1;
}

.gridjs-wrapper:nth-last-of-type(2) {
    border-bottom-width: 1px;
    border-radius: 8px;
}

.gridjs-loading-bar {
    background-color: #ffffff50;
    opacity: .5;
    z-index: 10;
}

.gridjs-loading-bar,.gridjs-loading-bar:after {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gridjs-loading-bar:after {
    animation: shimmer 2s infinite;
    background-image: linear-gradient(90deg,hsla(0,0%,80%,0),hsla(0,0%,80%,.2) 20%,hsla(0,0%,80%,.5) 60%,hsla(0,0%,80%,0));
    content: "";
    transform: translateX(-100%);
}

@keyframes shimmer {
    to {
        transform: translateX(100%);
    }
}

.gridjs-td .gridjs-checkbox {
    cursor: var(--pen);
    display: block;
    margin: auto;
}

.gridjs-resizable {
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
}

.gridjs-resizable:hover {
    background-color: #9bc2f750;
    cursor: var(--pen);
}
